body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: green;
}

p, li {
    font-size: 18px;
}

ul {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}